{% comment %}
<div class="dropdown no-caret">
    <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="text-primary" data-feather="more-vertical"></i></button>
        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="javascript:void(0);">Action</a>
            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
            <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
        </div>
    </div>
{% endcomment %}
<div>
    {% comment %} <button class="btn btn-pink btn-icon" onclick="post_create({{node.pk}})"><i class="fas fa-file-invoice"></i></button> {% endcomment %}
    {% comment %} <a class="btn btn-pink btn-icon" href="{% url 'path:post_new' path_id node.pk %}"><i class="fas fa-file-invoice"></i></a> {% endcomment %}
    {% comment %} <button class="btn btn-pink btn-icon"><i class="fas fa-folder-plus"></i></button> {% endcomment %}
    <a class="btn btn-pink btn-icon 
    {% if node.level >= 3 %}
        disabled
    {% endif %}
    " href="{% url 'path:new' root_id node.pk %}" role="button"><i class="fas fa-folder-plus"></i></a>

    {% comment %} <a class="btn btn-pink btn-icon mr-2" href="{% url 'path:remove' path_id node.pk %}" role="button"><i class="fas fa-pencil-alt"></i></a> {% endcomment %}
    {% comment %} <button class="btn btn-pink btn-icon"><i class="fas fa-pencil-alt"></i></button>        {# fas fa-edit fas fa-pen #} {% endcomment %}
    <button class="btn btn-pink btn-icon mr-2" onclick="path_remove({{node.pk}})"><i class="fas fa-trash-alt"></i></button>    {# fas fa-trash #}
    

    <button class="btn btn-blue btn-icon" onclick="path_move('parent', {{node.pk}})"
    {% if node.level <= 1 %}
        {% comment %} disabled {% endcomment %}
    {% endif %}    
    ><i class="fas fa-chevron-left"></i></button>

    <button class="btn btn-blue btn-icon" onclick="path_move('child', {{node.pk}})"
    {% comment %} {% if node.is_leaf_node %} {% endcomment %}
    {% if not node.get_next_sibling %}
        {% comment %} disabled {% endcomment %}
    {% endif %}
    ><i class="fas fa-chevron-right"></i></button>

    <button class="btn btn-blue btn-icon" onclick="path_move('previous', {{node.pk}})"
    {% if not node.get_previous_sibling %}
        {% comment %} disabled {% endcomment %}
    {% endif %}
    ><i class="fas fa-chevron-up"></i></button>
    
    <button class="btn btn-blue btn-icon" onclick="path_move('next', {{node.pk}})"
    {% if not node.get_next_sibling %}
        {% comment %} disabled {% endcomment %}
    {% endif %}
    ><i class="fas fa-chevron-down"></i></button>
    {% comment %} <button class="btn btn-blue btn-icon"><i class="fas fa-caret-left"></i></button>
    <button class="btn btn-blue btn-icon"><i class="fas fa-angle-left"></i></button>
    <button class="btn btn-blue btn-icon"><i class="fas fa-caret-square-left"></i></button>
    <button class="btn btn-blue btn-icon"><i class="far fa-caret-square-left"></i></button>
    <button class="btn btn-blue btn-icon"><i class="far fa-arrow-alt-circle-left"></i></button> {% endcomment %}
</div>
{% comment %} <button class="btn btn-primary btn-sm">Action</button> {% endcomment %}
